fastapi=={{ fastapi_version }}
uvicorn[standard]=={{ uvicorn_version }}
loguru
pydantic_settings
pydantic
python-dotenv

{% if utils_dependencies %}
# Utility dependencies
{% for dep in utils_dependencies %}
{{ dep }}
{% endfor %}
{% endif %}
